<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for containers -->
<configuration>
    <property name="logback.stdout.level" value="TRACE"/>
    <property name="logback.file.level" value="TRACE"/>
    <property name="logback.file.directory" value="/opt/waves-dex"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logback.file.directory}/system.log</file>
        <append>true</append>
        <immediateFlush>false</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logback.file.level}</level>
        </filter>
        <encoder>
            <pattern>${logback.file.pattern}</pattern>
        </encoder>
    </appender>

    <!-- Networking -->
    <logger name="io.netty" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Queue -->
    <logger name="org.apache.kafka" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.apache.kafka.clients.producer.KafkaProducer" level="TRACE" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.apache.kafka.common.network.Selector" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
