<?xml version="1.0" encoding="UTF-8"?>
<!-- Add debug="true" to debug configuration -->
<configuration scan="true" scanPeriod="30 seconds">
    <property name="logback.include.file" value="${logback.include.file:-./logback-user.xml}"/>
    <property name="logback.common.pattern" value="${logback.common.pattern:-%date{ISO8601,UTC} %-5level [%.25thread] %logger{26} - %msg%n%ex}"/>

    <!-- STDOUT logs properties -->
    <property name="logback.stdout.enabled" value="${logback.stdout.enabled:-true}"/>
    <property name="logback.stdout.pattern" value="${logback.stdout.pattern:-${logback.common.pattern}}"/>
    <property name="logback.stdout.level" value="${logback.stdout.level:-INFO}"/>

    <!-- FILE logs properties -->
    <property name="logback.file.enabled" value="${logback.file.enabled:-false}"/>
    <property name="logback.file.pattern" value="${logback.file.pattern:-${logback.common.pattern}}"/>
    <property name="logback.file.level" value="${logback.file.level:-DEBUG}"/>
    <property name="logback.file.directory" value="${logback.file.directory:-${waves.dex.root-directory}/log}"/>

    <!-- JRE -->
    <logger name="sun.rmi" level="INFO"/>
    <logger name="javax.management" level="INFO"/>

    <!-- Instrumentation -->
    <logger name="org.aspectj" level="INFO"/>

    <!-- Cryptography -->
    <logger name="scorex.crypto.signatures.Curve25519" level="INFO"/>

    <!-- Networking -->
    <logger name="io.netty" level="INFO"/>
    <logger name="io.grpc.netty" level="ERROR"/>

    <!-- Queues -->
    <logger name="org.apache.kafka" level="INFO"/>
    <!-- Reason for Selector: https://issues.apache.org/jira/browse/KAFKA-5133 -->
    <logger name="org.apache.kafka.common.network.Selector" level="DEBUG"/>

    <!-- DEX Actors -->
    <logger name="com.wavesplatform.matcher.market.OrderBookActor" level="INFO"/>
    <logger name="com.wavesplatform.matcher.market.MatcherActor" level="TRACE"/>

    <!-- REST API -->
    <logger name="io.swagger" level="INFO"/>
    <logger name="com.wavesplatform.dex.api.http" level="WARN"/> <!-- Requests -->

    <if condition='property("logback.stdout.enabled").contains("true")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <target>System.out</target>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>${logback.stdout.level}</level>
                </filter>
                <encoder>
                    <pattern>${logback.stdout.pattern}</pattern>
                </encoder>
            </appender>
            <root>
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
    </if>

    <if condition='property("logback.file.enabled").contains("true")'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>${logback.file.level}</level>
                </filter>
                <file>${logback.file.directory}/dex.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${logback.file.directory}/dex.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

                    <!-- keep 30 days' worth of history capped at 1GB total size -->
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>1GB</totalSizeCap>
                </rollingPolicy>

                <encoder>
                    <pattern>${logback.file.pattern}</pattern>
                </encoder>
            </appender>

            <root>
                <appender-ref ref="FILE"/>
            </root>
        </then>
    </if>

    <include optional="true" file="${logback.include.file}"/>

    <root level="TRACE"/>
</configuration>
