<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="default.pattern" value="%date %-5level [%.25thread] %logger{26} - %msg%n%ex"/>

    <logger name="io.netty" level="INFO"/>
    <logger name="io.swagger" level="INFO"/>

    <logger name="com.wavesplatform.network.PeerSynchronizer" level="DEBUG"/>
    <logger name="com.wavesplatform.transaction.smart" level="INFO"/>

    <logger name="scorex.crypto.signatures.Curve25519" level="INFO"/>

    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.apache.kafka.common.network.Selector"
            level="DEBUG"/> <!-- https://issues.apache.org/jira/browse/KAFKA-5133 -->

    <logger name="org.aspectj" level="INFO"/>

    <logger name="org.asynchttpclient" level="INFO"/>
    <logger name="io.netty" level="DEBUG"/>
    <logger name="org.apache.kafka" level="DEBUG"/>
    <logger name="org.apache.kafka.clients.producer.KafkaProducer" level="TRACE"/>
    <logger name="org.apache.kafka.common.network.Selector" level="DEBUG"/>

    <logger name="sun.rmi" level="INFO"/>
    <logger name="javax.management" level="INFO"/>

    <logger name="io.grpc.netty" level="ERROR"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logback.stdout.level:-INFO}</level>
        </filter>
        <encoder>
            <pattern>${logback.pattern:-${default.pattern}}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender" queueSize="10000" discardingThreshold="0">
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="TRACE">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
